.array-container{
    position: absolute;
    left: 78px;

}

.array-bar{
    width : 5px;
    background-color: black;
    display: inline-block;
    margin: 0 2px;
    
}
/* button sajade */
button{
    background-color: black;
    color: white;
    border-radius: 2px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: grey;
    color: black;
}